.cardcol {
    border: 0.5px solid #E6E6E6;
    border-radius: 10px;
    margin-right: 1%;
    margin-top: 3%;
}

.colone img {
    margin-top: 3%;
    margin-bottom: 3%;
    height: 55px;
    width: 110px;
}

.coltwo img {
    margin-top: 40%;
    margin-left: 35%;
    padding-left: 0 !important;
    height: 10px;
    width: 15px;
}

.h66 {
    margin-top: 0 !important;
    padding-left: 30%;
    color: #13902A;
}

.image {
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.coltwo h6 {
    font-size: 12px;
    white-space: nowrap;
    margin-top: 17%;
    font-weight: bold;
}

.text {
    padding-left: 0 !important;
}

.row2 {
    background-color: var(--secondary-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.row2 Button {
    background-color: var(--third-color);
    border-color: none;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    color: black;
}

.row2 h6 {
    margin-top: 13%;
    color: white;
    font-size: 14px;
}

.row2 img {
    margin-left: 10%;
}

.alarmrow img {
    height: 15px;
    width: 40px;

}